{% load tags %}
<div class="srecanje-absolute-box {{ srecanje.css_classes }}" style="left: 0.00%; width: 20.00%; top: 38.46%; height: 15.38%;">
<div class="srecanje" style="background: rgba(25, 245, 25, 0.5)">
  <div class="main-box">
{# TODO: info box, ko bo potreben #}
{#    <div class="info-box"><i class="material-icons">info_outline</i></div> #}
    <span class="predmet">
        <a href="TODO">
            Rezervacija
        </a>

    </span>
    <br>
  </div>

  <div class="ucitelj">
    {% for ucitelj in srecanje.osebe.all %}
      <a href="{% url 'urnik_osebe' ucitelj.id %}">{{ ucitelj.priimek }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </div>

  {% if rezervacija.ucilnice %}
  <!-- TODO: lahko je vec ucilnic -->
    <div class="ucilnica">
      <a href="TODO">2.03</a>
    </div>
  {% endif %}

</div>
</div>
